/*
 * GreenLume Design System Tokens
 * Generated automatically from design-tokens.tokens.json
 * Date: 2026-05-27
 */

:root {
  /* ==========================================================================
     GRID
     ========================================================================== */
  --grid-tablet-grid-pattern: columns;
  --grid-tablet-grid-guttersize: 16px;
  --grid-tablet-grid-alignment: stretch;
  --grid-tablet-grid-count: 8;
  --grid-tablet-grid-offset: 32px;
  --grid-mobile-grid-pattern: columns;
  --grid-mobile-grid-guttersize: 16px;
  --grid-mobile-grid-alignment: stretch;
  --grid-mobile-grid-count: 4;
  --grid-mobile-grid-offset: 16px;

  /* ==========================================================================
     FONT
     ========================================================================== */
  --font-display-2xl-regular-fontsize: 72px;
  --font-display-2xl-regular-textdecoration: none;
  --font-display-2xl-regular-fontfamily: 'Plus Jakarta Sans';
  --font-display-2xl-regular-fontweight: 400;
  --font-display-2xl-regular-fontstyle: normal;
  --font-display-2xl-regular-fontstretch: normal;
  --font-display-2xl-regular-letterspacing: -1.44px;
  --font-display-2xl-regular-lineheight: 88px;
  --font-display-2xl-regular-paragraphindent: 0px;
  --font-display-2xl-regular-paragraphspacing: 0px;
  --font-display-2xl-regular-textcase: none;
  --font-display-2xl-medium-fontsize: 72px;
  --font-display-2xl-medium-textdecoration: none;
  --font-display-2xl-medium-fontfamily: 'Plus Jakarta Sans';
  --font-display-2xl-medium-fontweight: 500;
  --font-display-2xl-medium-fontstyle: normal;
  --font-display-2xl-medium-fontstretch: normal;
  --font-display-2xl-medium-letterspacing: -1.44px;
  --font-display-2xl-medium-lineheight: 88px;
  --font-display-2xl-medium-paragraphindent: 0px;
  --font-display-2xl-medium-paragraphspacing: 0px;
  --font-display-2xl-medium-textcase: none;
  --font-display-2xl-semibold-fontsize: 72px;
  --font-display-2xl-semibold-textdecoration: none;
  --font-display-2xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-display-2xl-semibold-fontweight: 600;
  --font-display-2xl-semibold-fontstyle: normal;
  --font-display-2xl-semibold-fontstretch: normal;
  --font-display-2xl-semibold-letterspacing: -1.44px;
  --font-display-2xl-semibold-lineheight: 88px;
  --font-display-2xl-semibold-paragraphindent: 0px;
  --font-display-2xl-semibold-paragraphspacing: 0px;
  --font-display-2xl-semibold-textcase: none;
  --font-display-2xl-bold-fontsize: 72px;
  --font-display-2xl-bold-textdecoration: none;
  --font-display-2xl-bold-fontfamily: 'Plus Jakarta Sans';
  --font-display-2xl-bold-fontweight: 700;
  --font-display-2xl-bold-fontstyle: normal;
  --font-display-2xl-bold-fontstretch: normal;
  --font-display-2xl-bold-letterspacing: -1.44px;
  --font-display-2xl-bold-lineheight: 88px;
  --font-display-2xl-bold-paragraphindent: 0px;
  --font-display-2xl-bold-paragraphspacing: 0px;
  --font-display-2xl-bold-textcase: none;
  --font-display-xl-regular-fontsize: 60px;
  --font-display-xl-regular-textdecoration: none;
  --font-display-xl-regular-fontfamily: 'Plus Jakarta Sans';
  --font-display-xl-regular-fontweight: 400;
  --font-display-xl-regular-fontstyle: normal;
  --font-display-xl-regular-fontstretch: normal;
  --font-display-xl-regular-letterspacing: -1.2px;
  --font-display-xl-regular-lineheight: 72px;
  --font-display-xl-regular-paragraphindent: 0px;
  --font-display-xl-regular-paragraphspacing: 0px;
  --font-display-xl-regular-textcase: none;
  --font-display-xl-medium-fontsize: 60px;
  --font-display-xl-medium-textdecoration: none;
  --font-display-xl-medium-fontfamily: 'Plus Jakarta Sans';
  --font-display-xl-medium-fontweight: 500;
  --font-display-xl-medium-fontstyle: normal;
  --font-display-xl-medium-fontstretch: normal;
  --font-display-xl-medium-letterspacing: -1.2px;
  --font-display-xl-medium-lineheight: 72px;
  --font-display-xl-medium-paragraphindent: 0px;
  --font-display-xl-medium-paragraphspacing: 0px;
  --font-display-xl-medium-textcase: none;
  --font-display-xl-semibold-fontsize: 60px;
  --font-display-xl-semibold-textdecoration: none;
  --font-display-xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-display-xl-semibold-fontweight: 600;
  --font-display-xl-semibold-fontstyle: normal;
  --font-display-xl-semibold-fontstretch: normal;
  --font-display-xl-semibold-letterspacing: -1.2px;
  --font-display-xl-semibold-lineheight: 72px;
  --font-display-xl-semibold-paragraphindent: 0px;
  --font-display-xl-semibold-paragraphspacing: 0px;
  --font-display-xl-semibold-textcase: none;
  --font-display-xl-bold-fontsize: 60px;
  --font-display-xl-bold-textdecoration: none;
  --font-display-xl-bold-fontfamily: 'Plus Jakarta Sans';
  --font-display-xl-bold-fontweight: 700;
  --font-display-xl-bold-fontstyle: normal;
  --font-display-xl-bold-fontstretch: normal;
  --font-display-xl-bold-letterspacing: -1.2px;
  --font-display-xl-bold-lineheight: 72px;
  --font-display-xl-bold-paragraphindent: 0px;
  --font-display-xl-bold-paragraphspacing: 0px;
  --font-display-xl-bold-textcase: none;
  --font-display-lg-regular-fontsize: 48px;
  --font-display-lg-regular-textdecoration: none;
  --font-display-lg-regular-fontfamily: 'Plus Jakarta Sans';
  --font-display-lg-regular-fontweight: 400;
  --font-display-lg-regular-fontstyle: normal;
  --font-display-lg-regular-fontstretch: normal;
  --font-display-lg-regular-letterspacing: -0.96px;
  --font-display-lg-regular-lineheight: 60px;
  --font-display-lg-regular-paragraphindent: 0px;
  --font-display-lg-regular-paragraphspacing: 0px;
  --font-display-lg-regular-textcase: none;
  --font-display-lg-medium-fontsize: 48px;
  --font-display-lg-medium-textdecoration: none;
  --font-display-lg-medium-fontfamily: 'Plus Jakarta Sans';
  --font-display-lg-medium-fontweight: 500;
  --font-display-lg-medium-fontstyle: normal;
  --font-display-lg-medium-fontstretch: normal;
  --font-display-lg-medium-letterspacing: -0.96px;
  --font-display-lg-medium-lineheight: 60px;
  --font-display-lg-medium-paragraphindent: 0px;
  --font-display-lg-medium-paragraphspacing: 0px;
  --font-display-lg-medium-textcase: none;
  --font-display-lg-semibold-fontsize: 48px;
  --font-display-lg-semibold-textdecoration: none;
  --font-display-lg-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-display-lg-semibold-fontweight: 600;
  --font-display-lg-semibold-fontstyle: normal;
  --font-display-lg-semibold-fontstretch: normal;
  --font-display-lg-semibold-letterspacing: -0.96px;
  --font-display-lg-semibold-lineheight: 60px;
  --font-display-lg-semibold-paragraphindent: 0px;
  --font-display-lg-semibold-paragraphspacing: 0px;
  --font-display-lg-semibold-textcase: none;
  --font-display-lg-bold-fontsize: 48px;
  --font-display-lg-bold-textdecoration: none;
  --font-display-lg-bold-fontfamily: 'Plus Jakarta Sans';
  --font-display-lg-bold-fontweight: 700;
  --font-display-lg-bold-fontstyle: normal;
  --font-display-lg-bold-fontstretch: normal;
  --font-display-lg-bold-letterspacing: -0.96px;
  --font-display-lg-bold-lineheight: 60px;
  --font-display-lg-bold-paragraphindent: 0px;
  --font-display-lg-bold-paragraphspacing: 0px;
  --font-display-lg-bold-textcase: none;
  --font-display-md-regular-fontsize: 36px;
  --font-display-md-regular-textdecoration: none;
  --font-display-md-regular-fontfamily: 'Plus Jakarta Sans';
  --font-display-md-regular-fontweight: 400;
  --font-display-md-regular-fontstyle: normal;
  --font-display-md-regular-fontstretch: normal;
  --font-display-md-regular-letterspacing: -0.72px;
  --font-display-md-regular-lineheight: 44px;
  --font-display-md-regular-paragraphindent: 0px;
  --font-display-md-regular-paragraphspacing: 0px;
  --font-display-md-regular-textcase: none;
  --font-display-md-medium-fontsize: 36px;
  --font-display-md-medium-textdecoration: none;
  --font-display-md-medium-fontfamily: 'Plus Jakarta Sans';
  --font-display-md-medium-fontweight: 500;
  --font-display-md-medium-fontstyle: normal;
  --font-display-md-medium-fontstretch: normal;
  --font-display-md-medium-letterspacing: -0.72px;
  --font-display-md-medium-lineheight: 44px;
  --font-display-md-medium-paragraphindent: 0px;
  --font-display-md-medium-paragraphspacing: 0px;
  --font-display-md-medium-textcase: none;
  --font-display-md-semibold-fontsize: 36px;
  --font-display-md-semibold-textdecoration: none;
  --font-display-md-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-display-md-semibold-fontweight: 600;
  --font-display-md-semibold-fontstyle: normal;
  --font-display-md-semibold-fontstretch: normal;
  --font-display-md-semibold-letterspacing: -0.72px;
  --font-display-md-semibold-lineheight: 44px;
  --font-display-md-semibold-paragraphindent: 0px;
  --font-display-md-semibold-paragraphspacing: 0px;
  --font-display-md-semibold-textcase: none;
  --font-display-md-bold-fontsize: 36px;
  --font-display-md-bold-textdecoration: none;
  --font-display-md-bold-fontfamily: 'Plus Jakarta Sans';
  --font-display-md-bold-fontweight: 700;
  --font-display-md-bold-fontstyle: normal;
  --font-display-md-bold-fontstretch: normal;
  --font-display-md-bold-letterspacing: -0.72px;
  --font-display-md-bold-lineheight: 44px;
  --font-display-md-bold-paragraphindent: 0px;
  --font-display-md-bold-paragraphspacing: 0px;
  --font-display-md-bold-textcase: none;
  --font-display-sm-regular-fontsize: 30px;
  --font-display-sm-regular-textdecoration: none;
  --font-display-sm-regular-fontfamily: 'Plus Jakarta Sans';
  --font-display-sm-regular-fontweight: 400;
  --font-display-sm-regular-fontstyle: normal;
  --font-display-sm-regular-fontstretch: normal;
  --font-display-sm-regular-letterspacing: 0px;
  --font-display-sm-regular-lineheight: 36px;
  --font-display-sm-regular-paragraphindent: 0px;
  --font-display-sm-regular-paragraphspacing: 0px;
  --font-display-sm-regular-textcase: none;
  --font-display-sm-medium-fontsize: 30px;
  --font-display-sm-medium-textdecoration: none;
  --font-display-sm-medium-fontfamily: 'Plus Jakarta Sans';
  --font-display-sm-medium-fontweight: 500;
  --font-display-sm-medium-fontstyle: normal;
  --font-display-sm-medium-fontstretch: normal;
  --font-display-sm-medium-letterspacing: 0px;
  --font-display-sm-medium-lineheight: 36px;
  --font-display-sm-medium-paragraphindent: 0px;
  --font-display-sm-medium-paragraphspacing: 0px;
  --font-display-sm-medium-textcase: none;
  --font-display-sm-semibold-fontsize: 30px;
  --font-display-sm-semibold-textdecoration: none;
  --font-display-sm-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-display-sm-semibold-fontweight: 600;
  --font-display-sm-semibold-fontstyle: normal;
  --font-display-sm-semibold-fontstretch: normal;
  --font-display-sm-semibold-letterspacing: 0px;
  --font-display-sm-semibold-lineheight: 36px;
  --font-display-sm-semibold-paragraphindent: 0px;
  --font-display-sm-semibold-paragraphspacing: 0px;
  --font-display-sm-semibold-textcase: none;
  --font-display-sm-bold-fontsize: 30px;
  --font-display-sm-bold-textdecoration: none;
  --font-display-sm-bold-fontfamily: 'Plus Jakarta Sans';
  --font-display-sm-bold-fontweight: 700;
  --font-display-sm-bold-fontstyle: normal;
  --font-display-sm-bold-fontstretch: normal;
  --font-display-sm-bold-letterspacing: 0px;
  --font-display-sm-bold-lineheight: 36px;
  --font-display-sm-bold-paragraphindent: 0px;
  --font-display-sm-bold-paragraphspacing: 0px;
  --font-display-sm-bold-textcase: none;
  --font-text-xl-regular-fontsize: 20px;
  --font-text-xl-regular-textdecoration: none;
  --font-text-xl-regular-fontfamily: 'Plus Jakarta Sans';
  --font-text-xl-regular-fontweight: 400;
  --font-text-xl-regular-fontstyle: normal;
  --font-text-xl-regular-fontstretch: normal;
  --font-text-xl-regular-letterspacing: 0px;
  --font-text-xl-regular-lineheight: 30px;
  --font-text-xl-regular-paragraphindent: 0px;
  --font-text-xl-regular-paragraphspacing: 0px;
  --font-text-xl-regular-textcase: none;
  --font-text-xl-medium-fontsize: 20px;
  --font-text-xl-medium-textdecoration: none;
  --font-text-xl-medium-fontfamily: 'Plus Jakarta Sans';
  --font-text-xl-medium-fontweight: 500;
  --font-text-xl-medium-fontstyle: normal;
  --font-text-xl-medium-fontstretch: normal;
  --font-text-xl-medium-letterspacing: 0px;
  --font-text-xl-medium-lineheight: 30px;
  --font-text-xl-medium-paragraphindent: 0px;
  --font-text-xl-medium-paragraphspacing: 0px;
  --font-text-xl-medium-textcase: none;
  --font-text-xl-semibold-fontsize: 20px;
  --font-text-xl-semibold-textdecoration: none;
  --font-text-xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-text-xl-semibold-fontweight: 600;
  --font-text-xl-semibold-fontstyle: normal;
  --font-text-xl-semibold-fontstretch: normal;
  --font-text-xl-semibold-letterspacing: 0px;
  --font-text-xl-semibold-lineheight: 30px;
  --font-text-xl-semibold-paragraphindent: 0px;
  --font-text-xl-semibold-paragraphspacing: 0px;
  --font-text-xl-semibold-textcase: none;
  --font-text-xl-bold-fontsize: 20px;
  --font-text-xl-bold-textdecoration: none;
  --font-text-xl-bold-fontfamily: 'Plus Jakarta Sans';
  --font-text-xl-bold-fontweight: 700;
  --font-text-xl-bold-fontstyle: normal;
  --font-text-xl-bold-fontstretch: normal;
  --font-text-xl-bold-letterspacing: 0px;
  --font-text-xl-bold-lineheight: 30px;
  --font-text-xl-bold-paragraphindent: 0px;
  --font-text-xl-bold-paragraphspacing: 0px;
  --font-text-xl-bold-textcase: none;
  --font-text-lg-regular-fontsize: 18px;
  --font-text-lg-regular-textdecoration: none;
  --font-text-lg-regular-fontfamily: 'Plus Jakarta Sans';
  --font-text-lg-regular-fontweight: 400;
  --font-text-lg-regular-fontstyle: normal;
  --font-text-lg-regular-fontstretch: normal;
  --font-text-lg-regular-letterspacing: 0px;
  --font-text-lg-regular-lineheight: 28px;
  --font-text-lg-regular-paragraphindent: 0px;
  --font-text-lg-regular-paragraphspacing: 0px;
  --font-text-lg-regular-textcase: none;
  --font-text-lg-medium-fontsize: 18px;
  --font-text-lg-medium-textdecoration: none;
  --font-text-lg-medium-fontfamily: 'Plus Jakarta Sans';
  --font-text-lg-medium-fontweight: 500;
  --font-text-lg-medium-fontstyle: normal;
  --font-text-lg-medium-fontstretch: normal;
  --font-text-lg-medium-letterspacing: 0px;
  --font-text-lg-medium-lineheight: 28px;
  --font-text-lg-medium-paragraphindent: 0px;
  --font-text-lg-medium-paragraphspacing: 0px;
  --font-text-lg-medium-textcase: none;
  --font-text-lg-semibold-fontsize: 18px;
  --font-text-lg-semibold-textdecoration: none;
  --font-text-lg-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-text-lg-semibold-fontweight: 600;
  --font-text-lg-semibold-fontstyle: normal;
  --font-text-lg-semibold-fontstretch: normal;
  --font-text-lg-semibold-letterspacing: 0px;
  --font-text-lg-semibold-lineheight: 28px;
  --font-text-lg-semibold-paragraphindent: 0px;
  --font-text-lg-semibold-paragraphspacing: 0px;
  --font-text-lg-semibold-textcase: none;
  --font-text-lg-bold-fontsize: 18px;
  --font-text-lg-bold-textdecoration: none;
  --font-text-lg-bold-fontfamily: 'Plus Jakarta Sans';
  --font-text-lg-bold-fontweight: 700;
  --font-text-lg-bold-fontstyle: normal;
  --font-text-lg-bold-fontstretch: normal;
  --font-text-lg-bold-letterspacing: 0px;
  --font-text-lg-bold-lineheight: 28px;
  --font-text-lg-bold-paragraphindent: 0px;
  --font-text-lg-bold-paragraphspacing: 0px;
  --font-text-lg-bold-textcase: none;
  --font-text-md-regular-fontsize: 16px;
  --font-text-md-regular-textdecoration: none;
  --font-text-md-regular-fontfamily: 'Plus Jakarta Sans';
  --font-text-md-regular-fontweight: 400;
  --font-text-md-regular-fontstyle: normal;
  --font-text-md-regular-fontstretch: normal;
  --font-text-md-regular-letterspacing: 0px;
  --font-text-md-regular-lineheight: 24px;
  --font-text-md-regular-paragraphindent: 0px;
  --font-text-md-regular-paragraphspacing: 0px;
  --font-text-md-regular-textcase: none;
  --font-text-md-medium-fontsize: 16px;
  --font-text-md-medium-textdecoration: none;
  --font-text-md-medium-fontfamily: 'Plus Jakarta Sans';
  --font-text-md-medium-fontweight: 500;
  --font-text-md-medium-fontstyle: normal;
  --font-text-md-medium-fontstretch: normal;
  --font-text-md-medium-letterspacing: 0px;
  --font-text-md-medium-lineheight: 24px;
  --font-text-md-medium-paragraphindent: 0px;
  --font-text-md-medium-paragraphspacing: 0px;
  --font-text-md-medium-textcase: none;
  --font-text-md-semibold-fontsize: 16px;
  --font-text-md-semibold-textdecoration: none;
  --font-text-md-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-text-md-semibold-fontweight: 600;
  --font-text-md-semibold-fontstyle: normal;
  --font-text-md-semibold-fontstretch: normal;
  --font-text-md-semibold-letterspacing: 0px;
  --font-text-md-semibold-lineheight: 24px;
  --font-text-md-semibold-paragraphindent: 0px;
  --font-text-md-semibold-paragraphspacing: 0px;
  --font-text-md-semibold-textcase: none;
  --font-text-md-bold-fontsize: 16px;
  --font-text-md-bold-textdecoration: none;
  --font-text-md-bold-fontfamily: 'Plus Jakarta Sans';
  --font-text-md-bold-fontweight: 700;
  --font-text-md-bold-fontstyle: normal;
  --font-text-md-bold-fontstretch: normal;
  --font-text-md-bold-letterspacing: 0px;
  --font-text-md-bold-lineheight: 24px;
  --font-text-md-bold-paragraphindent: 0px;
  --font-text-md-bold-paragraphspacing: 0px;
  --font-text-md-bold-textcase: none;
  --font-text-sm-regular-fontsize: 14px;
  --font-text-sm-regular-textdecoration: none;
  --font-text-sm-regular-fontfamily: 'Plus Jakarta Sans';
  --font-text-sm-regular-fontweight: 400;
  --font-text-sm-regular-fontstyle: normal;
  --font-text-sm-regular-fontstretch: normal;
  --font-text-sm-regular-letterspacing: 0px;
  --font-text-sm-regular-lineheight: 20px;
  --font-text-sm-regular-paragraphindent: 0px;
  --font-text-sm-regular-paragraphspacing: 0px;
  --font-text-sm-regular-textcase: none;
  --font-text-sm-medium-fontsize: 14px;
  --font-text-sm-medium-textdecoration: none;
  --font-text-sm-medium-fontfamily: 'Plus Jakarta Sans';
  --font-text-sm-medium-fontweight: 500;
  --font-text-sm-medium-fontstyle: normal;
  --font-text-sm-medium-fontstretch: normal;
  --font-text-sm-medium-letterspacing: 0px;
  --font-text-sm-medium-lineheight: 20px;
  --font-text-sm-medium-paragraphindent: 0px;
  --font-text-sm-medium-paragraphspacing: 0px;
  --font-text-sm-medium-textcase: none;
  --font-text-sm-semibold-fontsize: 14px;
  --font-text-sm-semibold-textdecoration: none;
  --font-text-sm-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-text-sm-semibold-fontweight: 600;
  --font-text-sm-semibold-fontstyle: normal;
  --font-text-sm-semibold-fontstretch: normal;
  --font-text-sm-semibold-letterspacing: 0px;
  --font-text-sm-semibold-lineheight: 20px;
  --font-text-sm-semibold-paragraphindent: 0px;
  --font-text-sm-semibold-paragraphspacing: 0px;
  --font-text-sm-semibold-textcase: none;
  --font-text-sm-bold-fontsize: 14px;
  --font-text-sm-bold-textdecoration: none;
  --font-text-sm-bold-fontfamily: 'Plus Jakarta Sans';
  --font-text-sm-bold-fontweight: 700;
  --font-text-sm-bold-fontstyle: normal;
  --font-text-sm-bold-fontstretch: normal;
  --font-text-sm-bold-letterspacing: 0px;
  --font-text-sm-bold-lineheight: 20px;
  --font-text-sm-bold-paragraphindent: 0px;
  --font-text-sm-bold-paragraphspacing: 0px;
  --font-text-sm-bold-textcase: none;
  --font-text-xs-regular-fontsize: 12px;
  --font-text-xs-regular-textdecoration: none;
  --font-text-xs-regular-fontfamily: 'Plus Jakarta Sans';
  --font-text-xs-regular-fontweight: 400;
  --font-text-xs-regular-fontstyle: normal;
  --font-text-xs-regular-fontstretch: normal;
  --font-text-xs-regular-letterspacing: 0px;
  --font-text-xs-regular-lineheight: 18px;
  --font-text-xs-regular-paragraphindent: 0px;
  --font-text-xs-regular-paragraphspacing: 0px;
  --font-text-xs-regular-textcase: none;
  --font-text-xs-medium-fontsize: 12px;
  --font-text-xs-medium-textdecoration: none;
  --font-text-xs-medium-fontfamily: 'Plus Jakarta Sans';
  --font-text-xs-medium-fontweight: 500;
  --font-text-xs-medium-fontstyle: normal;
  --font-text-xs-medium-fontstretch: normal;
  --font-text-xs-medium-letterspacing: 0px;
  --font-text-xs-medium-lineheight: 18px;
  --font-text-xs-medium-paragraphindent: 0px;
  --font-text-xs-medium-paragraphspacing: 0px;
  --font-text-xs-medium-textcase: none;
  --font-text-xs-semibold-fontsize: 12px;
  --font-text-xs-semibold-textdecoration: none;
  --font-text-xs-semibold-fontfamily: 'Plus Jakarta Sans';
  --font-text-xs-semibold-fontweight: 600;
  --font-text-xs-semibold-fontstyle: normal;
  --font-text-xs-semibold-fontstretch: normal;
  --font-text-xs-semibold-letterspacing: 0px;
  --font-text-xs-semibold-lineheight: 18px;
  --font-text-xs-semibold-paragraphindent: 0px;
  --font-text-xs-semibold-paragraphspacing: 0px;
  --font-text-xs-semibold-textcase: none;
  --font-text-xs-bold-fontsize: 12px;
  --font-text-xs-bold-textdecoration: none;
  --font-text-xs-bold-fontfamily: 'Plus Jakarta Sans';
  --font-text-xs-bold-fontweight: 700;
  --font-text-xs-bold-fontstyle: normal;
  --font-text-xs-bold-fontstretch: normal;
  --font-text-xs-bold-letterspacing: 0px;
  --font-text-xs-bold-lineheight: 18px;
  --font-text-xs-bold-paragraphindent: 0px;
  --font-text-xs-bold-paragraphspacing: 0px;
  --font-text-xs-bold-textcase: none;

  /* ==========================================================================
     PRIMITIVE COLOUR COLLECTION
     ========================================================================== */
  --primitive-colour-collection-key-colours-group-primary-colour: #2e7d32ff;
  --primitive-colour-collection-key-colours-group-secondary-color: #66bb6aff;
  --primitive-colour-collection-key-colours-group-tertiary-colour: #8d6e63ff;
  --primitive-colour-collection-key-colours-group-neutral: #fafafaff;
  --primitive-colour-collection-key-colours-group-accent: #aeea00ff;
  --primitive-colour-collection-key-colours-group-error: #e53935ff;
  --primitive-colour-collection-key-colours-group-warning: #ffc107ff;
  --primitive-colour-collection-key-colours-group-success: #00c853ff;
  --primitive-colour-collection-colour-palette-primary-primary0: #000000ff;
  --primitive-colour-collection-colour-palette-primary-primary10: #0e250fff;
  --primitive-colour-collection-colour-palette-primary-primary20: #1b4b1eff;
  --primitive-colour-collection-colour-palette-primary-primary30: #29702dff;
  --primitive-colour-collection-colour-palette-primary-primary40: #37953cff;
  --primitive-colour-collection-colour-palette-primary-primary50: #45ba4bff;
  --primitive-colour-collection-colour-palette-primary-primary60: #6ac86fff;
  --primitive-colour-collection-colour-palette-primary-primary70: #8fd693ff;
  --primitive-colour-collection-colour-palette-primary-primary80: #b4e4b7ff;
  --primitive-colour-collection-colour-palette-primary-primary90: #daf1dbff;
  --primitive-colour-collection-colour-palette-primary-primary95: #ecf8edff;
  --primitive-colour-collection-colour-palette-primary-primary98: #f8fcf8ff;
  --primitive-colour-collection-colour-palette-primary-primary99: #fbfefbff;
  --primitive-colour-collection-colour-palette-primary-primary100: #ffffffff;
  --primitive-colour-collection-colour-palette-secondary-secondary0: #000000ff;
  --primitive-colour-collection-colour-palette-secondary-secondary10: #102311ff;
  --primitive-colour-collection-colour-palette-secondary-secondary20: #1f4721ff;
  --primitive-colour-collection-colour-palette-secondary-secondary30: #2f6a32ff;
  --primitive-colour-collection-colour-palette-secondary-secondary40: #3f8d42ff;
  --primitive-colour-collection-colour-palette-secondary-secondary50: #4eb153ff;
  --primitive-colour-collection-colour-palette-secondary-secondary60: #72c075ff;
  --primitive-colour-collection-colour-palette-secondary-secondary70: #95d098ff;
  --primitive-colour-collection-colour-palette-secondary-secondary80: #b8e0baff;
  --primitive-colour-collection-colour-palette-secondary-secondary90: #dcefddff;
  --primitive-colour-collection-colour-palette-secondary-secondary95: #edf7eeff;
  --primitive-colour-collection-colour-palette-secondary-secondary98: #f8fcf8ff;
  --primitive-colour-collection-colour-palette-secondary-secondary99: #fbfdfcff;
  --primitive-colour-collection-colour-palette-secondary-secondary100: #ffffffff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary0: #000000ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary10: #1e1715ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary20: #3c2f2aff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary30: #5a463fff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary40: #785d54ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary50: #967569ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary60: #ab9087ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary70: #c0aca5ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary80: #d5c8c3ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary90: #eae3e1ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary95: #f4f1f0ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary98: #fbf9f9ff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary99: #fdfcfcff;
  --primitive-colour-collection-colour-palette-tertiary-tertiary100: #ffffffff;
  --primitive-colour-collection-colour-palette-neutral-neutral0: #000000ff;
  --primitive-colour-collection-colour-palette-neutral-neutral10: #191919ff;
  --primitive-colour-collection-colour-palette-neutral-neutral20: #333333ff;
  --primitive-colour-collection-colour-palette-neutral-neutral30: #4c4c4cff;
  --primitive-colour-collection-colour-palette-neutral-neutral40: #666666ff;
  --primitive-colour-collection-colour-palette-neutral-neutral50: #808080ff;
  --primitive-colour-collection-colour-palette-neutral-neutral60: #999999ff;
  --primitive-colour-collection-colour-palette-neutral-neutral70: #b3b3b3ff;
  --primitive-colour-collection-colour-palette-neutral-neutral80: #ccccccff;
  --primitive-colour-collection-colour-palette-neutral-neutral90: #e6e6e6ff;
  --primitive-colour-collection-colour-palette-neutral-neutral95: #f2f2f2ff;
  --primitive-colour-collection-colour-palette-neutral-neutral98: #fafafaff;
  --primitive-colour-collection-colour-palette-neutral-neutral99: #fcfcfcff;
  --primitive-colour-collection-colour-palette-neutral-neutral100: #ffffffff;
  --primitive-colour-collection-colour-palette-accent-accent0: #000000ff;
  --primitive-colour-collection-colour-palette-accent-accent10: #263300ff;
  --primitive-colour-collection-colour-palette-accent-accent20: #4c6600ff;
  --primitive-colour-collection-colour-palette-accent-accent30: #729900ff;
  --primitive-colour-collection-colour-palette-accent-accent40: #98cc00ff;
  --primitive-colour-collection-colour-palette-accent-accent50: #beff00ff;
  --primitive-colour-collection-colour-palette-accent-accent60: #cbff33ff;
  --primitive-colour-collection-colour-palette-accent-accent70: #d8ff66ff;
  --primitive-colour-collection-colour-palette-accent-accent80: #e5ff99ff;
  --primitive-colour-collection-colour-palette-accent-accent90: #f2ffccff;
  --primitive-colour-collection-colour-palette-accent-accent95: #f8ffe5ff;
  --primitive-colour-collection-colour-palette-accent-accent98: #fcfff5ff;
  --primitive-colour-collection-colour-palette-accent-accent99: #fefffaff;
  --primitive-colour-collection-colour-palette-accent-accent100: #ffffffff;
  --primitive-colour-collection-colour-palette-error-error0: #000000ff;
  --primitive-colour-collection-colour-palette-error-error10: #2d0706ff;
  --primitive-colour-collection-colour-palette-error-error20: #5a0d0cff;
  --primitive-colour-collection-colour-palette-error-error30: #881411ff;
  --primitive-colour-collection-colour-palette-error-error40: #b51b17ff;
  --primitive-colour-collection-colour-palette-error-error50: #e2221dff;
  --primitive-colour-collection-colour-palette-error-error60: #e84e4aff;
  --primitive-colour-collection-colour-palette-error-error70: #ee7a77ff;
  --primitive-colour-collection-colour-palette-error-error80: #f3a6a5ff;
  --primitive-colour-collection-colour-palette-error-error90: #f9d3d2ff;
  --primitive-colour-collection-colour-palette-error-error95: #fce9e8ff;
  --primitive-colour-collection-colour-palette-error-error98: #fef6f6ff;
  --primitive-colour-collection-colour-palette-error-error99: #fefbfaff;
  --primitive-colour-collection-colour-palette-error-error100: #ffffffff;
  --primitive-colour-collection-colour-palette-warning-warning0: #000000ff;
  --primitive-colour-collection-colour-palette-warning-warning10: #332600ff;
  --primitive-colour-collection-colour-palette-warning-warning20: #664c00ff;
  --primitive-colour-collection-colour-palette-warning-warning30: #997300ff;
  --primitive-colour-collection-colour-palette-warning-warning40: #cc9900ff;
  --primitive-colour-collection-colour-palette-warning-warning50: #ffbf00ff;
  --primitive-colour-collection-colour-palette-warning-warning60: #ffcc33ff;
  --primitive-colour-collection-colour-palette-warning-warning70: #ffd966ff;
  --primitive-colour-collection-colour-palette-warning-warning80: #ffe599ff;
  --primitive-colour-collection-colour-palette-warning-warning90: #fff2ccff;
  --primitive-colour-collection-colour-palette-warning-warning95: #fff9e5ff;
  --primitive-colour-collection-colour-palette-warning-warning98: #fffcf5ff;
  --primitive-colour-collection-colour-palette-warning-warning99: #fffefaff;
  --primitive-colour-collection-colour-palette-warning-warning100: #ffffffff;
  --primitive-colour-collection-colour-palette-success-success0: #000000ff;
  --primitive-colour-collection-colour-palette-success-success10: #003315ff;
  --primitive-colour-collection-colour-palette-success-success20: #00662aff;
  --primitive-colour-collection-colour-palette-success-success30: #00993fff;
  --primitive-colour-collection-colour-palette-success-success40: #00cc55ff;
  --primitive-colour-collection-colour-palette-success-success50: #00ff6aff;
  --primitive-colour-collection-colour-palette-success-success60: #33ff88ff;
  --primitive-colour-collection-colour-palette-success-success70: #66ffa5ff;
  --primitive-colour-collection-colour-palette-success-success80: #99ffc3ff;
  --primitive-colour-collection-colour-palette-success-success90: #ccffe1ff;
  --primitive-colour-collection-colour-palette-success-success95: #e5fff0ff;
  --primitive-colour-collection-colour-palette-success-success98: #f5fff9ff;
  --primitive-colour-collection-colour-palette-success-success99: #fafffcff;
  --primitive-colour-collection-colour-palette-success-success100: #ffffffff;

  /* ==========================================================================
     COLOUR ROLES COLLECTION
     ========================================================================== */
  --colour-roles-collection-primary-color-roles-primary-color-role: var(--primitive-colour-collection-colour-palette-primary-primary40);
  --colour-roles-collection-primary-color-roles-on-primary-color-role: var(--primitive-colour-collection-colour-palette-primary-primary30);
  --colour-roles-collection-primary-color-roles-primary-container-role: var(--primitive-colour-collection-colour-palette-primary-primary90);
  --colour-roles-collection-secondary-color-roles-secondary-color-role: var(--primitive-colour-collection-colour-palette-secondary-secondary40);
  --colour-roles-collection-secondary-color-roles-on-secondary-color-role: var(--primitive-colour-collection-colour-palette-secondary-secondary100);
  --colour-roles-collection-secondary-color-roles-secondary-container-color-role: var(--primitive-colour-collection-colour-palette-secondary-secondary90);
  --colour-roles-collection-secondary-color-roles-on-secondary-container-color-role: var(--primitive-colour-collection-colour-palette-secondary-secondary30);
  --colour-roles-collection-tertiary-color-roles-tetiary-color-role: var(--primitive-colour-collection-colour-palette-tertiary-tertiary40);
  --colour-roles-collection-tertiary-color-roles-on-tetiary-color-role: var(--primitive-colour-collection-colour-palette-tertiary-tertiary100);
  --colour-roles-collection-tertiary-color-roles-tetiary-container-color-role: var(--primitive-colour-collection-colour-palette-tertiary-tertiary90);
  --colour-roles-collection-tertiary-color-roles-on-tetiary-container-color-role: var(--primitive-colour-collection-colour-palette-tertiary-tertiary30);
  --colour-roles-collection-neutral-color-roles-nuetral-color-role: var(--primitive-colour-collection-colour-palette-neutral-neutral30);
  --colour-roles-collection-neutral-color-roles-on-nuetral-color-role: var(--primitive-colour-collection-colour-palette-neutral-neutral90);
  --colour-roles-collection-neutral-color-roles-nuetral-container-color-role: var(--primitive-colour-collection-colour-palette-neutral-neutral40);
  --colour-roles-collection-neutral-color-roles-on-nuetral-container-color-role: var(--primitive-colour-collection-colour-palette-neutral-neutral98);
  --colour-roles-collection-accent-color-roles-accent-color-role: var(--primitive-colour-collection-colour-palette-accent-accent20);
  --colour-roles-collection-accent-color-roles-on-accent-color-role: var(--primitive-colour-collection-colour-palette-accent-accent90);
  --colour-roles-collection-accent-color-roles-accent-container-color-role: var(--primitive-colour-collection-colour-palette-accent-accent80);
  --colour-roles-collection-accent-color-roles-on-accent-container-color-role: var(--primitive-colour-collection-colour-palette-accent-accent10);
  --colour-roles-collection-error-color-roles-error-color-role: var(--primitive-colour-collection-colour-palette-error-error40);
  --colour-roles-collection-error-color-roles-on-error-color-role: var(--primitive-colour-collection-colour-palette-error-error100);
  --colour-roles-collection-error-color-roles-error-container-color-role: var(--primitive-colour-collection-colour-palette-error-error90);
  --colour-roles-collection-error-color-roles-on-error-container-color-role: var(--primitive-colour-collection-colour-palette-error-error30);
  --colour-roles-collection-success-color-roles-success-color-role: var(--primitive-colour-collection-colour-palette-success-success30);
  --colour-roles-collection-success-color-roles-on-success-color-role: var(--primitive-colour-collection-colour-palette-success-success90);
  --colour-roles-collection-success-color-roles-success-container-color-role: var(--primitive-colour-collection-colour-palette-success-success70);
  --colour-roles-collection-success-color-roles-on-success-container-color-role: var(--primitive-colour-collection-colour-palette-success-success20);
  --colour-roles-collection-warning-color-roles-warning-color-role: var(--primitive-colour-collection-colour-palette-warning-warning50);
  --colour-roles-collection-warning-color-roles-on-warning-color-role: var(--primitive-colour-collection-colour-palette-warning-warning90);
  --colour-roles-collection-warning-color-roles-warning-container-color-role: var(--primitive-colour-collection-colour-palette-warning-warning60);
  --colour-roles-collection-warning-color-roles-on-warning-container-color-role: var(--primitive-colour-collection-colour-palette-warning-warning95);

  /* ==========================================================================
     TYPOGRAPHY
     ========================================================================== */
  --typography-display-2xl-regular-fontsize: 72px;
  --typography-display-2xl-regular-textdecoration: none;
  --typography-display-2xl-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-display-2xl-regular-fontweight: 400;
  --typography-display-2xl-regular-fontstyle: normal;
  --typography-display-2xl-regular-fontstretch: normal;
  --typography-display-2xl-regular-letterspacing: -1.44px;
  --typography-display-2xl-regular-lineheight: 88px;
  --typography-display-2xl-regular-paragraphindent: 0px;
  --typography-display-2xl-regular-paragraphspacing: 0px;
  --typography-display-2xl-regular-textcase: none;
  --typography-display-2xl-medium-fontsize: 72px;
  --typography-display-2xl-medium-textdecoration: none;
  --typography-display-2xl-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-display-2xl-medium-fontweight: 500;
  --typography-display-2xl-medium-fontstyle: normal;
  --typography-display-2xl-medium-fontstretch: normal;
  --typography-display-2xl-medium-letterspacing: -1.44px;
  --typography-display-2xl-medium-lineheight: 88px;
  --typography-display-2xl-medium-paragraphindent: 0px;
  --typography-display-2xl-medium-paragraphspacing: 0px;
  --typography-display-2xl-medium-textcase: none;
  --typography-display-2xl-semibold-fontsize: 72px;
  --typography-display-2xl-semibold-textdecoration: none;
  --typography-display-2xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-2xl-semibold-fontweight: 600;
  --typography-display-2xl-semibold-fontstyle: normal;
  --typography-display-2xl-semibold-fontstretch: normal;
  --typography-display-2xl-semibold-letterspacing: -1.44px;
  --typography-display-2xl-semibold-lineheight: 88px;
  --typography-display-2xl-semibold-paragraphindent: 0px;
  --typography-display-2xl-semibold-paragraphspacing: 0px;
  --typography-display-2xl-semibold-textcase: none;
  --typography-display-2xl-bold-fontsize: 72px;
  --typography-display-2xl-bold-textdecoration: none;
  --typography-display-2xl-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-2xl-bold-fontweight: 700;
  --typography-display-2xl-bold-fontstyle: normal;
  --typography-display-2xl-bold-fontstretch: normal;
  --typography-display-2xl-bold-letterspacing: -1.44px;
  --typography-display-2xl-bold-lineheight: 88px;
  --typography-display-2xl-bold-paragraphindent: 0px;
  --typography-display-2xl-bold-paragraphspacing: 0px;
  --typography-display-2xl-bold-textcase: none;
  --typography-display-xl-regular-fontsize: 60px;
  --typography-display-xl-regular-textdecoration: none;
  --typography-display-xl-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-display-xl-regular-fontweight: 400;
  --typography-display-xl-regular-fontstyle: normal;
  --typography-display-xl-regular-fontstretch: normal;
  --typography-display-xl-regular-letterspacing: -1.2px;
  --typography-display-xl-regular-lineheight: 72px;
  --typography-display-xl-regular-paragraphindent: 0px;
  --typography-display-xl-regular-paragraphspacing: 0px;
  --typography-display-xl-regular-textcase: none;
  --typography-display-xl-medium-fontsize: 60px;
  --typography-display-xl-medium-textdecoration: none;
  --typography-display-xl-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-display-xl-medium-fontweight: 500;
  --typography-display-xl-medium-fontstyle: normal;
  --typography-display-xl-medium-fontstretch: normal;
  --typography-display-xl-medium-letterspacing: -1.2px;
  --typography-display-xl-medium-lineheight: 72px;
  --typography-display-xl-medium-paragraphindent: 0px;
  --typography-display-xl-medium-paragraphspacing: 0px;
  --typography-display-xl-medium-textcase: none;
  --typography-display-xl-semibold-fontsize: 60px;
  --typography-display-xl-semibold-textdecoration: none;
  --typography-display-xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-xl-semibold-fontweight: 600;
  --typography-display-xl-semibold-fontstyle: normal;
  --typography-display-xl-semibold-fontstretch: normal;
  --typography-display-xl-semibold-letterspacing: -1.2px;
  --typography-display-xl-semibold-lineheight: 72px;
  --typography-display-xl-semibold-paragraphindent: 0px;
  --typography-display-xl-semibold-paragraphspacing: 0px;
  --typography-display-xl-semibold-textcase: none;
  --typography-display-xl-bold-fontsize: 60px;
  --typography-display-xl-bold-textdecoration: none;
  --typography-display-xl-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-xl-bold-fontweight: 700;
  --typography-display-xl-bold-fontstyle: normal;
  --typography-display-xl-bold-fontstretch: normal;
  --typography-display-xl-bold-letterspacing: -1.2px;
  --typography-display-xl-bold-lineheight: 72px;
  --typography-display-xl-bold-paragraphindent: 0px;
  --typography-display-xl-bold-paragraphspacing: 0px;
  --typography-display-xl-bold-textcase: none;
  --typography-display-lg-regular-fontsize: 48px;
  --typography-display-lg-regular-textdecoration: none;
  --typography-display-lg-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-display-lg-regular-fontweight: 400;
  --typography-display-lg-regular-fontstyle: normal;
  --typography-display-lg-regular-fontstretch: normal;
  --typography-display-lg-regular-letterspacing: -0.96px;
  --typography-display-lg-regular-lineheight: 60px;
  --typography-display-lg-regular-paragraphindent: 0px;
  --typography-display-lg-regular-paragraphspacing: 0px;
  --typography-display-lg-regular-textcase: none;
  --typography-display-lg-medium-fontsize: 48px;
  --typography-display-lg-medium-textdecoration: none;
  --typography-display-lg-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-display-lg-medium-fontweight: 500;
  --typography-display-lg-medium-fontstyle: normal;
  --typography-display-lg-medium-fontstretch: normal;
  --typography-display-lg-medium-letterspacing: -0.96px;
  --typography-display-lg-medium-lineheight: 60px;
  --typography-display-lg-medium-paragraphindent: 0px;
  --typography-display-lg-medium-paragraphspacing: 0px;
  --typography-display-lg-medium-textcase: none;
  --typography-display-lg-semibold-fontsize: 48px;
  --typography-display-lg-semibold-textdecoration: none;
  --typography-display-lg-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-lg-semibold-fontweight: 600;
  --typography-display-lg-semibold-fontstyle: normal;
  --typography-display-lg-semibold-fontstretch: normal;
  --typography-display-lg-semibold-letterspacing: -0.96px;
  --typography-display-lg-semibold-lineheight: 60px;
  --typography-display-lg-semibold-paragraphindent: 0px;
  --typography-display-lg-semibold-paragraphspacing: 0px;
  --typography-display-lg-semibold-textcase: none;
  --typography-display-lg-bold-fontsize: 48px;
  --typography-display-lg-bold-textdecoration: none;
  --typography-display-lg-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-lg-bold-fontweight: 700;
  --typography-display-lg-bold-fontstyle: normal;
  --typography-display-lg-bold-fontstretch: normal;
  --typography-display-lg-bold-letterspacing: -0.96px;
  --typography-display-lg-bold-lineheight: 60px;
  --typography-display-lg-bold-paragraphindent: 0px;
  --typography-display-lg-bold-paragraphspacing: 0px;
  --typography-display-lg-bold-textcase: none;
  --typography-display-md-regular-fontsize: 36px;
  --typography-display-md-regular-textdecoration: none;
  --typography-display-md-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-display-md-regular-fontweight: 400;
  --typography-display-md-regular-fontstyle: normal;
  --typography-display-md-regular-fontstretch: normal;
  --typography-display-md-regular-letterspacing: -0.72px;
  --typography-display-md-regular-lineheight: 44px;
  --typography-display-md-regular-paragraphindent: 0px;
  --typography-display-md-regular-paragraphspacing: 0px;
  --typography-display-md-regular-textcase: none;
  --typography-display-md-medium-fontsize: 36px;
  --typography-display-md-medium-textdecoration: none;
  --typography-display-md-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-display-md-medium-fontweight: 500;
  --typography-display-md-medium-fontstyle: normal;
  --typography-display-md-medium-fontstretch: normal;
  --typography-display-md-medium-letterspacing: -0.72px;
  --typography-display-md-medium-lineheight: 44px;
  --typography-display-md-medium-paragraphindent: 0px;
  --typography-display-md-medium-paragraphspacing: 0px;
  --typography-display-md-medium-textcase: none;
  --typography-display-md-semibold-fontsize: 36px;
  --typography-display-md-semibold-textdecoration: none;
  --typography-display-md-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-md-semibold-fontweight: 600;
  --typography-display-md-semibold-fontstyle: normal;
  --typography-display-md-semibold-fontstretch: normal;
  --typography-display-md-semibold-letterspacing: -0.72px;
  --typography-display-md-semibold-lineheight: 44px;
  --typography-display-md-semibold-paragraphindent: 0px;
  --typography-display-md-semibold-paragraphspacing: 0px;
  --typography-display-md-semibold-textcase: none;
  --typography-display-md-bold-fontsize: 36px;
  --typography-display-md-bold-textdecoration: none;
  --typography-display-md-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-md-bold-fontweight: 700;
  --typography-display-md-bold-fontstyle: normal;
  --typography-display-md-bold-fontstretch: normal;
  --typography-display-md-bold-letterspacing: -0.72px;
  --typography-display-md-bold-lineheight: 44px;
  --typography-display-md-bold-paragraphindent: 0px;
  --typography-display-md-bold-paragraphspacing: 0px;
  --typography-display-md-bold-textcase: none;
  --typography-display-sm-regular-fontsize: 30px;
  --typography-display-sm-regular-textdecoration: none;
  --typography-display-sm-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-display-sm-regular-fontweight: 400;
  --typography-display-sm-regular-fontstyle: normal;
  --typography-display-sm-regular-fontstretch: normal;
  --typography-display-sm-regular-letterspacing: 0px;
  --typography-display-sm-regular-lineheight: 36px;
  --typography-display-sm-regular-paragraphindent: 0px;
  --typography-display-sm-regular-paragraphspacing: 0px;
  --typography-display-sm-regular-textcase: none;
  --typography-display-sm-medium-fontsize: 30px;
  --typography-display-sm-medium-textdecoration: none;
  --typography-display-sm-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-display-sm-medium-fontweight: 500;
  --typography-display-sm-medium-fontstyle: normal;
  --typography-display-sm-medium-fontstretch: normal;
  --typography-display-sm-medium-letterspacing: 0px;
  --typography-display-sm-medium-lineheight: 36px;
  --typography-display-sm-medium-paragraphindent: 0px;
  --typography-display-sm-medium-paragraphspacing: 0px;
  --typography-display-sm-medium-textcase: none;
  --typography-display-sm-semibold-fontsize: 30px;
  --typography-display-sm-semibold-textdecoration: none;
  --typography-display-sm-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-sm-semibold-fontweight: 600;
  --typography-display-sm-semibold-fontstyle: normal;
  --typography-display-sm-semibold-fontstretch: normal;
  --typography-display-sm-semibold-letterspacing: 0px;
  --typography-display-sm-semibold-lineheight: 36px;
  --typography-display-sm-semibold-paragraphindent: 0px;
  --typography-display-sm-semibold-paragraphspacing: 0px;
  --typography-display-sm-semibold-textcase: none;
  --typography-display-sm-bold-fontsize: 30px;
  --typography-display-sm-bold-textdecoration: none;
  --typography-display-sm-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-display-sm-bold-fontweight: 700;
  --typography-display-sm-bold-fontstyle: normal;
  --typography-display-sm-bold-fontstretch: normal;
  --typography-display-sm-bold-letterspacing: 0px;
  --typography-display-sm-bold-lineheight: 36px;
  --typography-display-sm-bold-paragraphindent: 0px;
  --typography-display-sm-bold-paragraphspacing: 0px;
  --typography-display-sm-bold-textcase: none;
  --typography-text-xl-regular-fontsize: 20px;
  --typography-text-xl-regular-textdecoration: none;
  --typography-text-xl-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xl-regular-fontweight: 400;
  --typography-text-xl-regular-fontstyle: normal;
  --typography-text-xl-regular-fontstretch: normal;
  --typography-text-xl-regular-letterspacing: 0px;
  --typography-text-xl-regular-lineheight: 30px;
  --typography-text-xl-regular-paragraphindent: 0px;
  --typography-text-xl-regular-paragraphspacing: 0px;
  --typography-text-xl-regular-textcase: none;
  --typography-text-xl-medium-fontsize: 20px;
  --typography-text-xl-medium-textdecoration: none;
  --typography-text-xl-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xl-medium-fontweight: 500;
  --typography-text-xl-medium-fontstyle: normal;
  --typography-text-xl-medium-fontstretch: normal;
  --typography-text-xl-medium-letterspacing: 0px;
  --typography-text-xl-medium-lineheight: 30px;
  --typography-text-xl-medium-paragraphindent: 0px;
  --typography-text-xl-medium-paragraphspacing: 0px;
  --typography-text-xl-medium-textcase: none;
  --typography-text-xl-semibold-fontsize: 20px;
  --typography-text-xl-semibold-textdecoration: none;
  --typography-text-xl-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xl-semibold-fontweight: 600;
  --typography-text-xl-semibold-fontstyle: normal;
  --typography-text-xl-semibold-fontstretch: normal;
  --typography-text-xl-semibold-letterspacing: 0px;
  --typography-text-xl-semibold-lineheight: 30px;
  --typography-text-xl-semibold-paragraphindent: 0px;
  --typography-text-xl-semibold-paragraphspacing: 0px;
  --typography-text-xl-semibold-textcase: none;
  --typography-text-xl-bold-fontsize: 20px;
  --typography-text-xl-bold-textdecoration: none;
  --typography-text-xl-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xl-bold-fontweight: 700;
  --typography-text-xl-bold-fontstyle: normal;
  --typography-text-xl-bold-fontstretch: normal;
  --typography-text-xl-bold-letterspacing: 0px;
  --typography-text-xl-bold-lineheight: 30px;
  --typography-text-xl-bold-paragraphindent: 0px;
  --typography-text-xl-bold-paragraphspacing: 0px;
  --typography-text-xl-bold-textcase: none;
  --typography-text-lg-regular-fontsize: 18px;
  --typography-text-lg-regular-textdecoration: none;
  --typography-text-lg-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-text-lg-regular-fontweight: 400;
  --typography-text-lg-regular-fontstyle: normal;
  --typography-text-lg-regular-fontstretch: normal;
  --typography-text-lg-regular-letterspacing: 0px;
  --typography-text-lg-regular-lineheight: 28px;
  --typography-text-lg-regular-paragraphindent: 0px;
  --typography-text-lg-regular-paragraphspacing: 0px;
  --typography-text-lg-regular-textcase: none;
  --typography-text-lg-medium-fontsize: 18px;
  --typography-text-lg-medium-textdecoration: none;
  --typography-text-lg-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-text-lg-medium-fontweight: 500;
  --typography-text-lg-medium-fontstyle: normal;
  --typography-text-lg-medium-fontstretch: normal;
  --typography-text-lg-medium-letterspacing: 0px;
  --typography-text-lg-medium-lineheight: 28px;
  --typography-text-lg-medium-paragraphindent: 0px;
  --typography-text-lg-medium-paragraphspacing: 0px;
  --typography-text-lg-medium-textcase: none;
  --typography-text-lg-semibold-fontsize: 18px;
  --typography-text-lg-semibold-textdecoration: none;
  --typography-text-lg-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-lg-semibold-fontweight: 600;
  --typography-text-lg-semibold-fontstyle: normal;
  --typography-text-lg-semibold-fontstretch: normal;
  --typography-text-lg-semibold-letterspacing: 0px;
  --typography-text-lg-semibold-lineheight: 28px;
  --typography-text-lg-semibold-paragraphindent: 0px;
  --typography-text-lg-semibold-paragraphspacing: 0px;
  --typography-text-lg-semibold-textcase: none;
  --typography-text-lg-bold-fontsize: 18px;
  --typography-text-lg-bold-textdecoration: none;
  --typography-text-lg-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-lg-bold-fontweight: 700;
  --typography-text-lg-bold-fontstyle: normal;
  --typography-text-lg-bold-fontstretch: normal;
  --typography-text-lg-bold-letterspacing: 0px;
  --typography-text-lg-bold-lineheight: 28px;
  --typography-text-lg-bold-paragraphindent: 0px;
  --typography-text-lg-bold-paragraphspacing: 0px;
  --typography-text-lg-bold-textcase: none;
  --typography-text-md-regular-fontsize: 16px;
  --typography-text-md-regular-textdecoration: none;
  --typography-text-md-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-text-md-regular-fontweight: 400;
  --typography-text-md-regular-fontstyle: normal;
  --typography-text-md-regular-fontstretch: normal;
  --typography-text-md-regular-letterspacing: 0px;
  --typography-text-md-regular-lineheight: 24px;
  --typography-text-md-regular-paragraphindent: 0px;
  --typography-text-md-regular-paragraphspacing: 0px;
  --typography-text-md-regular-textcase: none;
  --typography-text-md-medium-fontsize: 16px;
  --typography-text-md-medium-textdecoration: none;
  --typography-text-md-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-text-md-medium-fontweight: 500;
  --typography-text-md-medium-fontstyle: normal;
  --typography-text-md-medium-fontstretch: normal;
  --typography-text-md-medium-letterspacing: 0px;
  --typography-text-md-medium-lineheight: 24px;
  --typography-text-md-medium-paragraphindent: 0px;
  --typography-text-md-medium-paragraphspacing: 0px;
  --typography-text-md-medium-textcase: none;
  --typography-text-md-semibold-fontsize: 16px;
  --typography-text-md-semibold-textdecoration: none;
  --typography-text-md-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-md-semibold-fontweight: 600;
  --typography-text-md-semibold-fontstyle: normal;
  --typography-text-md-semibold-fontstretch: normal;
  --typography-text-md-semibold-letterspacing: 0px;
  --typography-text-md-semibold-lineheight: 24px;
  --typography-text-md-semibold-paragraphindent: 0px;
  --typography-text-md-semibold-paragraphspacing: 0px;
  --typography-text-md-semibold-textcase: none;
  --typography-text-md-bold-fontsize: 16px;
  --typography-text-md-bold-textdecoration: none;
  --typography-text-md-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-md-bold-fontweight: 700;
  --typography-text-md-bold-fontstyle: normal;
  --typography-text-md-bold-fontstretch: normal;
  --typography-text-md-bold-letterspacing: 0px;
  --typography-text-md-bold-lineheight: 24px;
  --typography-text-md-bold-paragraphindent: 0px;
  --typography-text-md-bold-paragraphspacing: 0px;
  --typography-text-md-bold-textcase: none;
  --typography-text-sm-regular-fontsize: 14px;
  --typography-text-sm-regular-textdecoration: none;
  --typography-text-sm-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-text-sm-regular-fontweight: 400;
  --typography-text-sm-regular-fontstyle: normal;
  --typography-text-sm-regular-fontstretch: normal;
  --typography-text-sm-regular-letterspacing: 0px;
  --typography-text-sm-regular-lineheight: 20px;
  --typography-text-sm-regular-paragraphindent: 0px;
  --typography-text-sm-regular-paragraphspacing: 0px;
  --typography-text-sm-regular-textcase: none;
  --typography-text-sm-medium-fontsize: 14px;
  --typography-text-sm-medium-textdecoration: none;
  --typography-text-sm-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-text-sm-medium-fontweight: 500;
  --typography-text-sm-medium-fontstyle: normal;
  --typography-text-sm-medium-fontstretch: normal;
  --typography-text-sm-medium-letterspacing: 0px;
  --typography-text-sm-medium-lineheight: 20px;
  --typography-text-sm-medium-paragraphindent: 0px;
  --typography-text-sm-medium-paragraphspacing: 0px;
  --typography-text-sm-medium-textcase: none;
  --typography-text-sm-semibold-fontsize: 14px;
  --typography-text-sm-semibold-textdecoration: none;
  --typography-text-sm-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-sm-semibold-fontweight: 600;
  --typography-text-sm-semibold-fontstyle: normal;
  --typography-text-sm-semibold-fontstretch: normal;
  --typography-text-sm-semibold-letterspacing: 0px;
  --typography-text-sm-semibold-lineheight: 20px;
  --typography-text-sm-semibold-paragraphindent: 0px;
  --typography-text-sm-semibold-paragraphspacing: 0px;
  --typography-text-sm-semibold-textcase: none;
  --typography-text-sm-bold-fontsize: 14px;
  --typography-text-sm-bold-textdecoration: none;
  --typography-text-sm-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-sm-bold-fontweight: 700;
  --typography-text-sm-bold-fontstyle: normal;
  --typography-text-sm-bold-fontstretch: normal;
  --typography-text-sm-bold-letterspacing: 0px;
  --typography-text-sm-bold-lineheight: 20px;
  --typography-text-sm-bold-paragraphindent: 0px;
  --typography-text-sm-bold-paragraphspacing: 0px;
  --typography-text-sm-bold-textcase: none;
  --typography-text-xs-regular-fontsize: 12px;
  --typography-text-xs-regular-textdecoration: none;
  --typography-text-xs-regular-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xs-regular-fontweight: 400;
  --typography-text-xs-regular-fontstyle: normal;
  --typography-text-xs-regular-fontstretch: normal;
  --typography-text-xs-regular-letterspacing: 0px;
  --typography-text-xs-regular-lineheight: 18px;
  --typography-text-xs-regular-paragraphindent: 0px;
  --typography-text-xs-regular-paragraphspacing: 0px;
  --typography-text-xs-regular-textcase: none;
  --typography-text-xs-medium-fontsize: 12px;
  --typography-text-xs-medium-textdecoration: none;
  --typography-text-xs-medium-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xs-medium-fontweight: 500;
  --typography-text-xs-medium-fontstyle: normal;
  --typography-text-xs-medium-fontstretch: normal;
  --typography-text-xs-medium-letterspacing: 0px;
  --typography-text-xs-medium-lineheight: 18px;
  --typography-text-xs-medium-paragraphindent: 0px;
  --typography-text-xs-medium-paragraphspacing: 0px;
  --typography-text-xs-medium-textcase: none;
  --typography-text-xs-semibold-fontsize: 12px;
  --typography-text-xs-semibold-textdecoration: none;
  --typography-text-xs-semibold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xs-semibold-fontweight: 600;
  --typography-text-xs-semibold-fontstyle: normal;
  --typography-text-xs-semibold-fontstretch: normal;
  --typography-text-xs-semibold-letterspacing: 0px;
  --typography-text-xs-semibold-lineheight: 18px;
  --typography-text-xs-semibold-paragraphindent: 0px;
  --typography-text-xs-semibold-paragraphspacing: 0px;
  --typography-text-xs-semibold-textcase: none;
  --typography-text-xs-bold-fontsize: 12px;
  --typography-text-xs-bold-textdecoration: none;
  --typography-text-xs-bold-fontfamily: 'Plus Jakarta Sans';
  --typography-text-xs-bold-fontweight: 700;
  --typography-text-xs-bold-fontstyle: normal;
  --typography-text-xs-bold-fontstretch: normal;
  --typography-text-xs-bold-letterspacing: 0px;
  --typography-text-xs-bold-lineheight: 18px;
  --typography-text-xs-bold-paragraphindent: 0px;
  --typography-text-xs-bold-paragraphspacing: 0px;
  --typography-text-xs-bold-textcase: none;
}
